<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Buscador de series</title>
  <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body class="page">
  <section class="search">
    <h1 class="search-title">Buscador de series</h1>
    <form class="search-container">
      <input type="text" class="search-input" id="search-input">
      <button type="button" class="search-button" id="search-button">Search</button>
    </form>
  </section>
  <main class="main">
    <section class="fav">
      <h2 class="fav-title">Mis series favoritas</h2>
      <div class="fav-choose" id="fav-choose"></div>
      <button class="fav-deleteAll" id="fav-deleteAll">Delete all</button>
    </section>
    <section class="series">
      <div class="series-container" id="series-container"></div>
    </section>
  </main>
  <script type="text/javascript" src="./assets/js/main.js"></script>

</body>

</html>